.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  column-gap: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  row-gap: 10px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}

.postsQuantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 15px;
}

.text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
}

.addButton {
  margin: 0;
  padding: 0;
  height: 35px;
  width: 150px;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
}

.addButton:active {
  opacity: .7;
}

.radioItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;
}

.radio {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
}

.radioInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
}

.radioCheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #ffffff;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s;
}

.radioInput:checked ~ .radioCheckmark::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}