.footer {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.text {
  padding: 0;
  margin: 40px 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  opacity: .5;
}